@import "tailwindcss";

@theme {
  --color-primary: #13294b;
  --color-secondary: #e8a54d;
  --color-marron: #b25b12;
}

body {
  background: #E8DDCF;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
